#exercicio {
	display: flex;
	flex-wrap: wrap;
}

#exercicio > div {
	cursor: pointer;
	transition: ease 0.4s;
	border: 5px solid;
	border-radius: 5px;
	border-color: black;
	display: flex;
	justify-content: center;
	align-content: center;
	width: 100px;
	height: 100px;
}

img {
	width: 100%;
}
