#content {
	text-align: center;
	background-color: lightgoldenrodyellow;
}
#content h1 {
	border: 2px solid;
	display: block;
	padding: auto;
	color: blueviolet;
	margin-bottom: 5px;
	margin-top: 5px;
	background-color: aqua;
}
#content p {
	border: 5px double;
	display: block;
	color: blueviolet;
}
#content div p {
	border: none;
	font-weight: bold;
	font-size: larger;
	color: azure;
}
#content > div {
	display: inline;
}
.modal {
	display: none;
	position: absolute !important;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.imagem {
	object-fit: contain;
	display: inline-block;
	position: relative;
}

.imagem > img {
	display: flex;
	padding-top: 1em;
	width: 100%;
	max-width: 640px;
	min-width: 64px;
}

.close {
	position: absolute;
	top: 10px;
	right: -2px;
	color: black;
	float: right;
	font-size: 17px;
	width: 25px;
	height: 25px;
	font-weight: bold;
	border-radius: 50%;
	background-color: white;
}
.close:hover,
.close:focus {
	color: #ff0000;
	text-decoration: none;
	cursor: pointer;
}

.pixelArt > img {
	width: 200px;
}
.pixelArt:hover,
.pixelArt:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
