:root {
	--cor-de-fundo-light: antiquewhite;
	--cor-da-fonte-light: rgb(34, 31, 202);

	--cor-de-fundo-dark: rgb(46, 46, 46);
	--cor-da-fonte-dark: aliceblue;
}
#voltarParaHome {
	transition: ease 1s;
	position: absolute;
	left: 0;
	border: none;
	color: var(--cor-da-fonte-light);
	background-color: var(--cor-de-fundo-light);
}
a {
	text-decoration: none;
	transition: ease 1s;
	color: var(--cor-da-fonte-light);
}
#content.dark-mode a {
	transition: ease 1s;
	color: var(--cor-da-fonte-dark);
}
#buttonMode {
	cursor: pointer;
	position: fixed;
	right: 0;
	transition: ease 1s;
	border: none;
	color: var(--cor-da-fonte-light);
	background-color: var(--cor-de-fundo-light);
}
#content.dark-mode #buttonMode {
	transition: ease 1s;
	border: none;
	color: var(--cor-da-fonte-dark);
	background-color: var(--cor-de-fundo-dark);
}
#content.dark-mode #voltarParaHome {
	transition: ease 1s;
	border: none;
	color: var(--cor-da-fonte-dark);
	background-color: var(--cor-de-fundo-dark);
}
#content {
	transition: ease 1s;
	color: var(--cor-da-fonte-light);
	background-color: var(--cor-de-fundo-light);
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "Afacad", sans-serif;
	text-align: center;
	font-size: 1.3rem;
}
#content.dark-mode {
	transition: ease 1s;
	color: var(--cor-da-fonte-dark);
	background-color: var(--cor-de-fundo-dark);
}
main {
	display: flex;
	flex-direction: column;
	width: 70%;
	min-width: 330px;
	height: 100%;
}
#futuroicone {
	width: 130px;
	height: 130px;
	position: relative;
}
canvas {
	position: absolute;
}
#topo {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;
}
#futurpara p {
	padding-left: 5%;
	padding-right: 5%;
}
#futurpara {
	font-weight: 700;
	font-size: 25px;
	margin-left: 5%;
	margin-right: 5%;
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-around;
	flex-wrap: wrap;
}
#depoimentos {
	font-size: 16px;
	display: flex;
	overflow-x: auto;
	margin-bottom: 50px;
}
#depoimentos p {
	padding: 20px;
	min-width: 190px;
	height: 100px;
	margin: 10px;
	margin-top: 0;
}
form {
	display: flex;
	flex-direction: column;
}
label {
	font-size: 50%;
}
#botao {
	margin-left: 20%;
	margin-right: 20%;
	display: flex;
	justify-content: space-evenly;
}
#botao input {
	transition: ease 1s;
	border-radius: 5px;
	height: 40px;
	background-color: rgb(48, 48, 216);
	color: aliceblue;
}
.linha {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.coluna {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-right: 10px;
	margin-left: 10px;
}
.linha p {
	padding-right: 2px;
	font-size: 50%;
}
footer {
	font-size: 12px;
}
#login {
	font-size: 1.3rem;
}
