body {
    text-align: center;
    background-color: lightgoldenrodyellow;
}
h1 {
    border: 2px solid;
    display: block;
    padding: auto;
    color: blueviolet;
    margin-bottom: 5px;
    background-color: aqua;
}
p {
    border: 5px double;
    display: block;
    position: relative;
    color: blueviolet;
}
div {
    display: inline;
    position: relative;
}
div p{
    border: none;
    font-weight: bold;
    font-size: larger;
    color: azure;
}
img {
    width: 200px;
}
#norfair {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4); 
}

#casaCampo {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4); 
}
.modal img{
    width: 600px;
  }

.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
color: #ff0000;
text-decoration: none;
cursor: pointer;
}
.pixelArt:hover,
.pixelArt :focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


