#exercicio {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#cartaDiv {
	margin-right: 5px;
	font-size: 1.5vw;
	width: 75%;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
}

img {
	cursor: pointer;
	transition: 0.3s ease-in-out;
	width: 100%;
	height: auto;
	object-fit: cover;
}

img:hover {
	transform: scale(1.1);
}

#divCartas {
	display: flex;
}
