/* pre {
  background-color: #2b2727;
  padding: 5px;
  border-radius: 5px;
  overflow-x: auto;
}
code {
  font-family: "Courier New", monospace;
  color: #e4e69c;
} */

nav {
	border: solid;
	border-radius: 15px;
	padding: 7px;
	width: fit-content;
}

#linkNav {
	margin-top: 10px;
	background-color: aliceblue;
}

button {
	border-radius: 15px;
	padding: 7px;
	outline: none;
}

input {
	border-radius: 15px;
	padding: 7px;
	outline: none;
}

#explicacao {
	border: solid blue;
	border-radius: 15px;
	padding: 7px;
	margin-right: 5px;
	margin-bottom: 5px;
	width: fit-content;
}

#exercicio {
	word-break: break-all;
	width: fit-content;
	border: solid purple;
	border-radius: 15px;
	padding: 7px;
}

/* Define a animação chamada 'moverLado' */
@keyframes moverLado {
	0% {
		transform: translateX(110%);
	}
	100% {
		transform: translateX(0%);
	}
}

/* Define a animação chamada 'sumir' */
@keyframes sumir {
	0% {
		transform: translateX(0%);
		opacity: 100%;
	}
	100% {
		transform: translateX(25%);
		opacity: 0%;
	}
}

/* Define a animação combinada chamada 'aparecer' */
@keyframes aparecer {
	0% {
		transform: translateX(25%);
		opacity: 0%;
	}
	100% {
		transform: translateX(0%);
		opacity: 100%;
	}
}

#content {
	position: absolute;
}
