/* pre {
  background-color: #2b2727;
  padding: 5px;
  border-radius: 5px;
  overflow-x: auto;
}
code {
  font-family: "Courier New", monospace;
  color: #e4e69c;
} */

nav {
	border: solid;
	border-radius: 15px;
	padding: 7px;
	width: fit-content;
}

#linkNav {
	margin-top: 10px;
	background-color: aliceblue;
}

button {
	cursor: pointer;
	border: solid 1px;
	border-radius: 10px;
	box-shadow: 2px 2px;
	margin: 2px;
	padding: 5px;
	outline: none;
	transition: ease 0.2s;
}

button:active {
	box-shadow: 0 0;
}

button:hover {
	background-color: grey;
}

input {
	border: solid 1px;
	border-radius: 10px;
	margin: 2px;
	padding: 5px;
	outline: none;
}

select {
	border: solid 1px;
	border-radius: 5px;
	outline: none;
}

textarea {
	border: none;
	outline: none;
	border-radius: 5px;
	padding: 5px;
}

table,
th,
td {
	margin: 5px;
	border: solid 1px;
	border-radius: 5px;
	border-collapse: collapse;
	padding: 5px;
}

#explicacao {
	border: solid blue;
	border-radius: 15px;
	padding: 7px;
	margin-right: 5px;
	margin-bottom: 5px;
	width: fit-content;
}

#exercicio {
	word-break: break-all;
	width: fit-content;
	border: solid purple;
	border-radius: 15px;
	margin-right: 5px;
	padding: 7px;
}

/* Define a animação chamada 'moverLado' */
@keyframes moverLado {
	0% {
		transform: translateX(110%);
	}
	100% {
		transform: translateX(0%);
	}
}

/* Define a animação chamada 'sumir' */
@keyframes sumir {
	0% {
		transform: translateX(0%);
		opacity: 100%;
	}
	100% {
		transform: translateX(25%);
		opacity: 0%;
	}
}

/* Define a animação combinada chamada 'aparecer' */
@keyframes aparecer {
	0% {
		transform: translateX(25%);
		opacity: 0%;
	}
	100% {
		transform: translateX(0%);
		opacity: 100%;
	}
}

#content {
	position: absolute;
}
